@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = "Users";
    int countUsers = 0;
}

<h1 class="p-2">Users</h1>

<a class="btn btn-outline-primary" href="/Identity/Account/Register">Add New <i class="fa-solid fa-plus"></i></a>

@if (Model.Any())
{
    <div class="table-responsive">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>
                        Username
                    </th>
                    <th>
                        Email
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    countUsers++;
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            <form asp-action="DeleteUser" asp-route-id="@item.Id" method="post">
                                <a class="btn btn-outline-secondary" asp-action="Edit" asp-route-id="@item.Id">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                                @if (countUsers > 1)
                                {
                                    <button type="submit" class="btn btn-outline-danger"
                                            onclick="return confirm('Are you sure to delete user @item.UserName')">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                }
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

else
{
    <div class="alert alert-danger justify-content-center my-3" role="alert">
        There is no users found!
    </div>
}